*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* header */
.header{
    min-width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;
}

.header__logo img{
    width: 50px;
}

.header__nav li{
    display: inline-block;
    margin: 0 20px;
    color: #6c6c6c;
    line-height: 50px;
}

.header__nav li.active{
    color: #376058;
    font-weight: bold;
}

.header__button{
    padding: 17px;
    background: #FFA27C;
    border-radius: 6px;
    color: #FFFFFF;

}

/* Best product */
.bestProduct{
    margin: 0 80px;
    position: relative;
}

.logo--play{
    position: absolute;
    top: 320px;
    left: 90px;
    z-index: 3;
}

.bestProduct__content h1{
    font-size: 70px;
}

.bestProduct__content span{
    background-color: #376058;
    color: #FFFFFF;
    padding: 0 10px;
}

.content__detals{
    margin-top: 19px;
}

.bestProduct__content p{
    color: #6F7975;

}

.bestProduct__image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-width: 1300px;
}

.bestProduct__image img{
    align-self: end;
    position: relative;
    height: 100%;
    z-index: 2;
}

.bestProduct__image--bgUnder{
    background: #F9F9F9;
    position: absolute;
    width: 100vw;
    top: 150px;
    left: -80px;
    height: 450px;
    z-index: 1;
}

/* Products */
.myProducts{
    position: relative;
    top: 200px;
    margin: 0 80px;
}

.myProducts h1{
    color: #2A2A2A;
    font-size: 64px;
    margin-bottom: 20px;
}

.myProducts__content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.myProducts p,
.myProducts__content a{
    color: #5A5850;
    margin-top: 10px;
}

.myProducts__content a{
    text-decoration: none;
    border-bottom: 1px solid #2a2a2a;
    color: #2A2A2A;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.myProducts__nav li{
    display: inline-block;
    padding:0 20px;
    color: #5A5850;
}

.myProducts__nav li +li{
    margin-left: 50px;
}

.myProducts__nav li.active{
    color: #000000;
    font-size: 18px;
    border-bottom: 10px solid #FFA27C;
    border-radius: 1px;
    font-weight: bold;
}

.myProducts .products{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productItem{
    background: #F9F9F9;
    width: 28%;
    min-width: 300px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 20px;
}

.productItem .imP{
    border-radius: 12px;
}

.productItem__detals{
    margin-top: 22px;
    /* margin-bottom: 12px; */
}

.productItem__detals .detalsUnder{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}

/* About us */
.aboutUs{
    position: relative;
    top: 370px;
    margin: 0 80px;
}

.aboutUs img.bgAboutUs{
    width: 100%;
    min-width: 900px;
}

.aboutUs__Content{
    position: absolute;
    top: 175px;
    padding: 48px;
    background: #FFFFFF;
    display: flex;
    border-radius: 12px;
    min-width: 400px;
}

.aboutUs__Content .left h1{
    margin-bottom: 18px;
    font-size: 64px;
}


.aboutUs__Content .left p{
    color: #6F7975;
}


.aboutUs__Content .right img{
    width: 100px;
    margin-top: 15px;
    margin-left: 90px;
}

/* feedBack */

.feedBack{
    padding: 0 80px;
    position: relative;
    top: 600px;
}

.feedBack h1{
    color: #121212;
    font-size: 64px;
    margin-bottom: 20px;
}

.feedBack p{
    margin-top: 10px;
    color: #6F7975;
}

.feedBack__content {
    display: flex;
    justify-content: space-between;
}

.feedBack__content a{
    text-decoration: none;
    color: #FFA27C;
    font-weight: bold;
}

.feedBack__custom{
    display: flex;
    width: 100%;
    margin-top: 70px;
    justify-content: space-between;
}

.feedBack__custom .feedBack__head{
    display: flex;
    justify-content: space-between;
}

.feedBack__custom .feedBack--item{
    width: 42%;
    padding: 52px 42px;
    /* min-width: 450px; */
    border-radius: 12px;
}

.feedBack--item.bg--green{
    background: #376058;
    margin-right: 10px;

}

.feedBack--item.bg--violen{
    background: #503760;
    margin-left: 10px;
}

.feedBack--item h3{
    font-size: 23px;
}

.feedBack--item h3,
.feedBack--item p{
    margin-bottom: 8px;
    color: #ffffff;
}

.feedBack--item p{
    line-height: 1.8;

}

.feedBack--item h4{
    color: #7BA59D;
}

.feedBack--item.bg--violen h4{
    color: #9882A7;
}

.feedBack__star img{
    margin-top: 20px;
    padding-right: 10px;
}

/* subscribe */

.subscribe{
    position: relative;
    top: 700px;
    padding: 200px 80px;
    background: linear-gradient(
        to right,
        rgba(37, 37, 37, 0.5),
        rgba(37, 37, 37, 0.5)
      ),
    url(./img/subscribe/bgSub.png);
    background-size: cover;
    height: auto;
    display: flex;
    flex-direction: column;
}

.subscribe h1{
    margin: auto;
    font-weight: 46px;
    color: #ffffff;
    margin-bottom: 16px;
}

.subscribe p{
    color: #ffffff;
    margin: auto;
    margin-bottom: 46px;
}

.subscribe input{
    padding: 29px;
    border: none;
    border-radius: 12px;
    width: 265px;
}

.search{
    position: relative;
    margin: auto;
}

.search button{
    position: absolute;
    top: 6px;
    right: 6px;
    height: 62px;
    border: none;
    background-color: #FFA27C;
    border-radius: 8px;
    padding: 0 10px;
}

/* footer */

.footer{
    position: relative;
    top: 900px;
    margin: 0 80px;
    display: flex;
    justify-content: space-between;
    min-width: 700px;
    border-bottom: 1px solid #E6E8EC;

}

.footer h3{
    font-size: 16px;
    margin-bottom: 25px;
}

.footer li{
    list-style-type: none;
    padding-bottom: 30px;
    color: #6F7975;

}

.footer__search {
    position: relative;
}

.footer__search input{
    padding: 20px 16px;
    border: none;
    border-radius: 6px;
    width: 300px;
    background: #F9F9F9;

}

.footer__search button{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 42px;
    height: 42px;
    background: #FFA27C;
    border: none;
    border-radius: 4px;
}

/* copyright */
.copyRight{
    position: relative;
    top: 930px;
    display: flex;
    justify-content: space-between;
    padding: 0 80px 20px;
    color: #6F7975;
    font-size: 14px;
}